{#
/**
 * @file
 * Default theme implementation for displaying the Search API fields table.
 *
 * Available variables:
 * - table: The table of fields.
 * - note: The table note.
 *
 * @see template_preprocess_appsearch_admin_fields_table()
 *
 * @ingroup themeable
 */
#}

{{ table }}
{% if note %}
  {{ note }}
{% endif %}
